* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Ubuntu, Helvetica, sans-serif;
  background-color: rgb(31, 31, 31);
  color: #ccc;
 }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
